# Expressing SQL thinking in Pandas
## For those whose intuition is SQL when thinking about datasets.  This excercies is to transform SQL into Pandas cell by cell.  In the end we will create a CSV file that only has the data we deem relevant below.

In [1]:
import pandas as pd

In [2]:
Indicators = pd.read_csv('Indicators.csv')
Indicators.shape

(5656458, 6)

# Cell of SQL followed by a cell of Pandas
## in this thought excercise we create a recordset  where each [country, indicator] has a full 56 years of data.

## Let's take a look the general shape and features of the dataset

SELECT *
FROM Indicators
LIMIT 5

In [3]:
Indicators.head() #limit 5 is default

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

## Now let's extract a one dimentional list of indices representing Adolescent fertility rate (births per 1,000) in the United States

SELECT id
FROM Indicators
WHERE CountryCode = 'USA'
    AND IndicatorCode = 'SP.ADO.TFRT'
LIMIT 5

In [4]:
Indicators_indexes_USA_SP_ADO_TFRT =\
Indicators[(Indicators.CountryCode == 'USA')\
           & (Indicators.IndicatorCode == 'SP.ADO.TFRT')].index

In [27]:
#print(type(Indicators_indexes_USA_SP_ADO_TFRT))
#print(len(Indicators_indexes_USA_SP_ADO_TFRT))
Indicators_indexes_USA_SP_ADO_TFRT

Int64Index([  22220,   48687,   77063,  105680,  134718,  166648,  198016,
             230733,  263289,  296274,  357910,  425886,  495679,  565104,
             635182,  707658,  781073,  856731,  932392, 1008223, 1089482,
            1173411, 1258608, 1343867, 1429770, 1517209, 1605077, 1694472,
            1783944, 1876459, 1992735, 2108687, 2229974, 2353725, 2479391,
            2613713, 2748683, 2884963, 3022290, 3164215, 3318849, 3469491,
            3624122, 3777898, 3935641, 4115237, 4292434, 4472748, 4652594,
            4831264, 5017979, 5194672, 5369835, 5527272, 5637253],
           dtype='int64')

# Now let's show that same information in a dataframe in a more easily readable and organized fashion

SELECT CountryName
    , IndicatorName
    , Year
FROM Indicators
WHERE CountryCode = 'USA'
    AND IndicatorCode = 'SP.ADO.TFRT'
ORDER BY Year DESC
LIMIT 5

In [6]:
Indicators[(Indicators.CountryCode == 'USA')\
           & (Indicators.IndicatorCode == 'SP.ADO.TFRT')]\
[['CountryName','IndicatorName','Year']].\
sort_values('Year',ascending=False).head()

,CountryName,IndicatorName,Year
5637253,United States,"Adolescent fertility rate (births per 1,000 wo...",2014
5527272,United States,"Adolescent fertility rate (births per 1,000 wo...",2013
5369835,United States,"Adolescent fertility rate (births per 1,000 wo...",2012
5194672,United States,"Adolescent fertility rate (births per 1,000 wo...",2011
5017979,United States,"Adolescent fertility rate (births per 1,000 wo...",2010

## Now let's count how many years of data each country has for each indicator

SELECT CountryCode
    , IndicatorCode
    , COUNT(Year)
FROM Indicators
GROUP BY CountryCode, IndicatorCode

In [26]:
Indicators.groupby(['CountryCode','IndicatorCode']).size()

CountryCode  IndicatorCode
ABW          AG.LND.AGRI.K2       53
             AG.LND.AGRI.ZS       53
             AG.LND.ARBL.HA       53
             AG.LND.ARBL.HA.PC    53
             AG.LND.ARBL.ZS       53
             AG.LND.EL5M.ZS        2
             AG.LND.FRST.K2       23
             AG.LND.FRST.ZS       24
             AG.LND.TOTL.K2       54
             AG.SRF.TOTL.K2       54
             BG.GSR.NFSV.GD.ZS     7
             BM.GSR.CMCP.ZS        9
             BM.GSR.FCTY.CD        9
             BM.GSR.GNFS.CD        9
             BM.GSR.INSF.ZS        9
             BM.GSR.MRCH.CD        9
             BM.GSR.NFSV.CD        9
             BM.GSR.ROYL.CD        9
             BM.GSR.TOTL.CD        9
             BM.GSR.TRAN.ZS        9
             BM.GSR.TRVL.ZS        9
             BM.KLT.DINV.GD.ZS     7
             BM.TRF.PRVT.CD        9
             BM.TRF.PWKR.CD.DT    24
             BN.CAB.XOKA.CD        9
             BN.CAB.XOKA.GD.ZS     7
             BN.FIN.TOTL.CD        9
             BN.GSR.FCTY.CD        9
             BN.GSR.GNFS.CD        9
             BN.GSR.MRCH.CD        9
                                  ..
ZWE          TM.VAL.MRCH.WL.CD    37
             TM.VAL.MRCH.WR.ZS    37
             TM.VAL.MRCH.XD.WD    34
             TT.PRI.MRCH.XD.WD    34
             TX.QTY.MRCH.XD.WD    34
             TX.VAL.AGRI.ZS.UN    26
             TX.VAL.FOOD.ZS.UN    26
             TX.VAL.FUEL.ZS.UN    26
             TX.VAL.ICTG.ZS.UN    13
             TX.VAL.MANF.ZS.UN    26
             TX.VAL.MMTL.ZS.UN    26
             TX.VAL.MRCH.AL.ZS    37
             TX.VAL.MRCH.CD.WT    55
             TX.VAL.MRCH.HI.ZS    37
             TX.VAL.MRCH.OR.ZS    37
             TX.VAL.MRCH.R1.ZS    37
             TX.VAL.MRCH.R2.ZS    20
             TX.VAL.MRCH.R3.ZS    37
             TX.VAL.MRCH.R4.ZS    37
             TX.VAL.MRCH.R5.ZS    37
             TX.VAL.MRCH.R6.ZS    37
             TX.VAL.MRCH.RS.ZS    37
             TX.VAL.MRCH.WL.CD    37
             TX.VAL.MRCH.WR.ZS    37
             TX.VAL.MRCH.XD.WD    34
             TX.VAL.TECH.CD       22
             TX.VAL.TECH.MF.ZS    22
             VC.IDP.TOTL.HE       10
             VC.IDP.TOTL.LE        4
             VC.IHR.PSRC.P5        8
Length: 233200, dtype: int64

## Now let's put that data into a more organized form

SELECT IndicatorCode
    , CountryCode
    , COUNT(Year) Years
FROM Indicators
GROUP BY IndicatorCode, CountryCode
ORDER by Years DESC
    , IndicatorCode
    , CountryCode

In [8]:
years_of_entries_for_cc_and_ic =\
\
Indicators.groupby(['IndicatorCode','CountryCode']).size().\
to_frame('Years').reset_index().\
sort_values(['Years', 'IndicatorCode', 'CountryCode'], ascending = [False, True, True])

In [34]:
#print(len(years_of_entries_for_cc_and_ic))
years_of_entries_for_cc_and_ic.head(-10)

                   IndicatorCode CountryCode  Years
166174               SH.DTH.IMRT         ARE     56
166178               SH.DTH.IMRT         AUS     56
166179               SH.DTH.IMRT         AUT     56
166182               SH.DTH.IMRT         BEL     56
166183               SH.DTH.IMRT         BEN     56
166184               SH.DTH.IMRT         BFA     56
166185               SH.DTH.IMRT         BGD     56
166187               SH.DTH.IMRT         BHR     56
166192               SH.DTH.IMRT         BOL     56
166193               SH.DTH.IMRT         BRA     56
166194               SH.DTH.IMRT         BRB     56
166197               SH.DTH.IMRT         BWA     56
166198               SH.DTH.IMRT         CAF     56
166199               SH.DTH.IMRT         CAN     56
166200               SH.DTH.IMRT         CHE     56
166201               SH.DTH.IMRT         CHL     56
166203               SH.DTH.IMRT         CIV     56
166204               SH.DTH.IMRT         CMR     56
166205               SH.DTH.IMRT         COG     56
166206               SH.DTH.IMRT         COL     56
166215               SH.DTH.IMRT         DMA     56
166216               SH.DTH.IMRT         DNK     56
166217               SH.DTH.IMRT         DOM     56
166218               SH.DTH.IMRT         DZA     56
166221               SH.DTH.IMRT         ECU     56
166222               SH.DTH.IMRT         EGY     56
166224               SH.DTH.IMRT         ESP     56
166227               SH.DTH.IMRT         FIN     56
166228               SH.DTH.IMRT         FJI     56
166229               SH.DTH.IMRT         FRA     56
...                          ...         ...    ...
233130  per_si_allsi.cov_pop_tot         GEO      1
233134  per_si_allsi.cov_pop_tot         HRV      1
233135  per_si_allsi.cov_pop_tot         HUN      1
233137  per_si_allsi.cov_pop_tot         JAM      1
233140  per_si_allsi.cov_pop_tot         KEN      1
233142  per_si_allsi.cov_pop_tot         KHM      1
233143  per_si_allsi.cov_pop_tot         KIR      1
233145  per_si_allsi.cov_pop_tot         LAO      1
233146  per_si_allsi.cov_pop_tot         LBN      1
233147  per_si_allsi.cov_pop_tot         LBR      1
233148  per_si_allsi.cov_pop_tot         LKA      1
233149  per_si_allsi.cov_pop_tot         LSO      1
233150  per_si_allsi.cov_pop_tot         LTU      1
233153  per_si_allsi.cov_pop_tot         MDV      1
233155  per_si_allsi.cov_pop_tot         MLI      1
233156  per_si_allsi.cov_pop_tot         MNE      1
233157  per_si_allsi.cov_pop_tot         MNG      1
233158  per_si_allsi.cov_pop_tot         MOZ      1
233159  per_si_allsi.cov_pop_tot         MRT      1
233162  per_si_allsi.cov_pop_tot         MYS      1
233163  per_si_allsi.cov_pop_tot         NAM      1
233164  per_si_allsi.cov_pop_tot         NER      1
233167  per_si_allsi.cov_pop_tot         NPL      1
233172  per_si_allsi.cov_pop_tot         PLW      1
233173  per_si_allsi.cov_pop_tot         PNG      1
233177  per_si_allsi.cov_pop_tot         RUS      1
233178  per_si_allsi.cov_pop_tot         RWA      1
233179  per_si_allsi.cov_pop_tot         SEN      1
233180  per_si_allsi.cov_pop_tot         SLB      1
233181  per_si_allsi.cov_pop_tot         SLE      1

[233190 rows x 3 columns]

## Now let's count and show which indicators have the full 56 years of data for USA and ARE

SELECT IndicatorCode
    , CountryCode
    , COUNT(Year) Years
FROM Indicators
WHERE CountryCode = 'USA' 
    OR CountryCode = 'ARE'
GROUP BY IndicatorCode, CountryCode
HAVING Years = 56
ORDER by Years DESC
    , IndicatorCode
    , CountryCode

In [41]:
full_span_USA_and_ARE =\
\
Indicators[(Indicators.CountryCode == 'USA') | (Indicators.CountryCode == 'ARE')].\
groupby(['CountryCode','IndicatorCode']).filter(lambda g: len(g) == 56).\
groupby(['CountryCode','IndicatorCode']).size().\
to_frame('Years').reset_index().\
sort_values(['Years', 'IndicatorCode', 'CountryCode'], ascending = [False, True, True])

In [11]:
len(full_span_USA_and_ARE)

8

In [40]:
full_span_USA_and_ARE

  CountryCode   IndicatorCode  Years
0         ARE     SH.DTH.IMRT     56
4         USA     SH.DTH.IMRT     56
1         ARE     SH.DTH.MORT     56
5         USA     SH.DTH.MORT     56
2         ARE     SH.DYN.MORT     56
6         USA     SH.DYN.MORT     56
3         ARE  SP.DYN.IMRT.IN     56
7         USA  SP.DYN.IMRT.IN     56

## Now let's count and show all indicators that have the full 56 years of data for all countries

SELECT IndicatorCode
    , CountryCode
    , COUNT(Year) Years
FROM Indicators
GROUP BY IndicatorCode, CountryCode
HAVING Years = 56
ORDER by Years DESC
    , IndicatorCode
    , CountryCode

In [42]:
#BE PATIENT

#more usefully
#countries_with_56_years_of_data_by_indicator 
full_span=\
\
Indicators.\
groupby(['IndicatorCode','CountryCode']).filter(lambda g: len(g) == 56).\
groupby(['IndicatorCode','CountryCode']).size().\
to_frame('Years').reset_index().\
sort_values(['Years', 'IndicatorCode', 'CountryCode'], ascending = [False, True, True])

In [13]:
len(full_span)

442

In [38]:
full_span.head()

  IndicatorCode CountryCode  Years
0   SH.DTH.IMRT         ARE     56
1   SH.DTH.IMRT         AUS     56
2   SH.DTH.IMRT         AUT     56
3   SH.DTH.IMRT         BEL     56
4   SH.DTH.IMRT         BEN     56

In [15]:
indicator_code = full_span['IndicatorCode'].unique().tolist()
len(indicator_code)

4

In [16]:
country_code = full_span['CountryCode'].unique().tolist()
len(country_code)

115

In [17]:
full_span_key = pd.DataFrame(full_span[['IndicatorCode','CountryCode']]) # Here it is meant as the key to the 56 years

In [18]:
#type(full_span_key)
full_span_key.to_csv('IndicatorCode_CountryCode_Key.csv', encoding='utf-8', index=False)

In [19]:
full_span_key.head()

  IndicatorCode CountryCode
0   SH.DTH.IMRT         ARE
1   SH.DTH.IMRT         AUS
2   SH.DTH.IMRT         AUT
3   SH.DTH.IMRT         BEL
4   SH.DTH.IMRT         BEN

# Now let's show the line item values of [country, indicator] which have 56 years of data

SELECT Indicators.*
FROM Indicators
JOIN full_span_key
    ON (full_span_key.IndicatorCode = Indicators.IndicatorCode)
    AND (full_span_key.CountryCode = Indicators.CountryCode)

In [20]:
working_recordset = pd.merge(Indicators,full_span_key, on=['IndicatorCode','CountryCode'])
len(working_recordset)

24752

In [21]:
working_recordset.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1960,159.950234
1,Arab World,ARB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1961,155.313614
2,Arab World,ARB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1962,152.233048
3,Arab World,ARB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1963,156.521984
4,Arab World,ARB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,1964,152.166551

# Now lets save this new recordset to CSV file

In [49]:
working_recordset.to_csv('Indicators_56_full_years.csv', sep='\t', encoding='utf-8')

In [44]:
print('Our initial dataset had ', len(Indicators), 'and our relevant dataset has ', len(working_recordset), ' records')

Our initial dataset had  5656458 and our relevant dataset has  24752  records